body {
    background-size: contain;
}

.heading {
    width: 100%;
    margin: 0;
    font-size: 30px;
    box-shadow: 5px 5px 18px rgb(111, 6, 172);
}

.heading_div {
    font-size: 20px;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    box-shadow: 5px 5px 18px rgb(1, 60, 255);
    border-radius: 20px;
    float: none;
}
.heading_div2{
    font-size: 18px;
    color:black;
}